{% extends "partials/base.html" %}

{% block cabecalho %}

{% endblock cabecalho %}

{% block conteudo %}
    <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        <div class="card">
            <div class="card-header">
                <h1>Add Task</h1>

                <a href="{% url 'task' %}"><button class="btn btn-warning">Voltar</button></a>
            </div>
            <div class="card-body">
                <form action="{% url 'add_task' %}" class="group" method="POST">{% csrf_token %}
                    <label for="nome_task">Nome: </label>
                    <input type="text" name="nome_task" class="form-control">

                    <label for="descricao">Descrição: </label>
                    <textarea name="descricao" cols="30" rows="10" class="form-control tamanho-fixo"></textarea>
                    <br>
                    <label for="data_inicio">Data inicio: </label>
                    <input type="datetime-local" name="data_inicio">

                    <label for="data_final">Data Final: </label>
                    <input type="datetime-local" name="data_final">
                    <br><br>
                    
                    <button type="submit" class="btn btn-primary form-control">Criar</button>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock conteudo %}