.card-body {
    display: flex;
    justify-content: space-around;
}

.card-title {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}
.card-title a{
    text-decoration: none;
    color: black;
}

.card-widgets {
    width: 13%;
    display: flex;
    justify-content: space-around;
} 

.card-widgets button a {
    text-decoration: none;
    color: #fff;
}
